@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Photo Album Web</h3>

<p>This is an apllication for store photos, their description and rating.</p>
<p>You can see all photos by other users, vote them and manage your own photos.</p>
<p>Don't forget to register for creating your own photo album.</p>
<p>This application needs cookies enabled in browser and supported all popular browsers.</p>
<p>The application was made with the support of <a href="http://technologika.ru/">"Технологика"</a> company.</p>